.pagina-contato {

    .cabecalho {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .titulo1 {
        color: #6495ed;
    }

    .voltar{
        font-size: 32px;
    }

    .titulo1{
        color: #237223;
    }

}